.h1	Create a new account
= simple_form_for User.new,url: create_user_path, :html => {:class => 'form-horizontal simple-form-user' } do |f|
  = f.input :username, :label_html => {:class => 'simple-form-name-label'}, 
  									:input_html => {:class => 'simple-form-input-name'}, 
  									:wrapper_html => { :class => 'simple-form-name' }
  = f.input :email, :label_html => {:class => 'simple-form-email-label'}, 
  									:input_html => {:class => 'simple-form-input-email'}, 
  									:wrapper_html => { :class => 'simple-form-email' }
  = f.input :password, :label_html => {:class => 'simple-form-password-label'},
											 input_html: { class: 'simple-form-input-password' }, 
											 wrapper_html: { class: 'simple-form-password' }
  = f.input :avatar
  .form-actions
    = f.button :submit, "Create", :class => "btn btn-success"