.about#logo
	=link_to image_tag('logo.png'), root_path
.container.box-3w.who-we-are
	.row.span12
		%h3.indent-1.center CHÚNG TÔI LÀ AI
	.row.block-1
		.col-md-6.col-xs-12
			= render "layouts/map", :locals => { :organizations => [@organization] }
		.col-md-6.col-xs-12
			%ul
				%li#map-span-1	Công ty ABCDEFGH...
				%li#map-span-2	Tên giao dịch...
				%li#map-span-3	Trụ sở chính...
				%li#map-span-4	Số điện thoại...
				%li#map-span-5	Website...
				%li#map-span-6	Hỗ trợ...


.container.box-3w.why-should-do
	.row.span12
		%h3.indent-1.center TẠI SAO NÊN MUA HÀNG CỦA CHÚNG TÔI
	.row.block-1
		.col-md-3.col-xs-6
			= image_tag image_path('page1-img1.png')
			%p.text-info
				%a.text-info{:href => "#"} Espiciatis
			Lorem ipsum dolor sit amet, consectetuer adg elit. Praesent vestibulum mollacus. Aenean nonummy hendi.
		.col-md-3.col-xs-6
			= image_tag image_path('page1-img2.png')
			%p.text-info
				%a.text-info{:href => "#"} Omnis
			Lorem ipsum dolor sit amet, consectetuer adg elit. Praesent vestibulum mollacus. Aenean nonummy hendi.
		.col-md-3.col-xs-6
			= image_tag image_path('page1-img3.png')

			%p.text-info
				%a.text-info{:href => "#"} Voluptatem
			Lorem ipsum dolor sit amet, consectetuer adg elit. Praesent vestibulum mollacus. Aenean nonummy hendi.
		.col-md-3.col-xs-6
			= image_tag image_path('page1-img4.png')

			%p.text-info
				%a.text-info{:href => "#"} Espiciatis
			Lorem ipsum dolor sit amet, consectetuer adg elit. Praesent vestibulum mollacus. Aenean nonummy hendi.

.container.box-3w.why-should-do
	.row.span12
		%h3.indent-1.center CHÚNG TÔI CUNG CẤP NHỮNG GÌ
	.row.block-1
		- Product.all.take(4).each do |product|
			.col-md-3.col-xs-6
				=image_tag(product.image.small_thumb.url)
				%p.text-info
					%a.text-info{:href => "#"}= product.product_name
.container.box-3w.meet-our-members
	.row.span12
		%h3.indent-1.center THÀNH VIÊN CỦA ABCXYZ
	.row.block-1
		.col-md-3.col-xs-6
			= image_tag image_path('page2-img1.png')
		.col-md-3.col-xs-6
			= image_tag image_path('page2-img2.png')
		.col-md-3.col-xs-6
			= image_tag image_path('page2-img3.png')
		.col-md-3.col-xs-6
			= image_tag image_path('page2-img4.png')

.about#courses-banner-large
	.container
		.row
			.col-md-4.col-xs-2
			.col-md-4.col-xs-8.banner-info
				%h3 Have Questions or Need a Quote?
				%p
					Send us a message with all your enquiries and questions and we'll get in touch with you with some answers within the next 24 hours
				#contact-area
					= simple_form_for :contact, url: '/deliver_contact_form', html: { class: 'form-horizontal', novalidate: false } do |f|
						- random1 = (1 .. 10).to_a.sample
						- random2 = (1 .. 10).to_a.sample
						= f.input :email, placeholder: 'Email', label: false, input_html: {class: 'radius', :required => ""}
						= f.input :message, placeholder: 'Message', label: false, as: :text, input_html: {cols: 15, rows: 6, :required => ""}, class: 'radius'
						.g-recaptcha{"data-sitekey" => "6Ld76gYTAAAAAJsQF0EQzXpd3cYHPAMpqaPhJeJI"}
						= f.submit 'Submit', class: 'btn btn-default contact-form-submit'
						= recaptcha_tags
					%div{:style => "clear: both;"}
			.col-md-4.col-xs-2
