%table.table.table-striped
	%tr
		%th #
		%th Date
		%th Status
		%th Items
		%th Total Cost
	- @orders.each_with_index do |order, index|
		%tr
			%td= index+1
			%td= order.created_at.strftime("%d/%m/%y")
			%td= order.status
			%td= order.items.count
			%td= order.total_cost