%h1
  Your Current Order
= paginate @items
%table.table.table-striped
  %tr
    %th= "#"
    %th= "Product name"
    %th= "Product code"
    %th#price= "Price"
    %th#quantity= "Quantity"
    %th#cost= "Cost"
  %item_list
    - @items.each_with_index do |item, index|
      - product = item.product
      %tr{id: product.id}
        - if params[:page].to_i == 0
          %td#index.col-md-1= index+1
        - else
          %td#index.col-md-1= index+1 + 10*(params[:page].to_i-1)
        %td#name.col-md-3= product.product_name
        %td#code.col-md-2= product.product_code
        %td#price.col-md-1= product.price
        %td#quantity.col-md-1= item.quantity
        %td#cost.col-md-1= item.cost
= paginate @items
%table.table.table-striped
  %tr
    - total_cost = @order.items.map(&:cost).sum
    %td#total-cost-name.col-md-3 Total Cost
    %td.col-md-5
    %td#total-cost.col-md-4= total_cost
%p{class: "btn btn-default", method:"post"}= link_to "Back", back_to_edit_cart_order_url(@order) 
%p{class: "btn btn-default", style:"float: right"} Payment
