%h1
  Your Current Cart
= paginate @items
%table.table.table-striped
  %tr
    %th= "#"
    %th= "Product name"
    %th= "Product code"
    %th= "Price"
    %th= "Quantity"
    %th= "Cost"
    %th= "Action"
  %item_list
    - @items.each_with_index do |item, index| 
      - product = item.product
      %tr{id: product.id.to_s, "data-value": item.id}
        - if params[:page].to_i == 0
          %td#index= index+1
        - else
          %td#index= index+1 + 10*(params[:page].to_i-1)
        %td#name= product.product_name
        %td#code= product.product_code
        %td{class: "edit-item-product-price", id: product.id, "data-value": product.price }= product.price
        %td
          %input.edit-item-product-quantity{ type: "integer", "value": item.quantity, id: product.id}
        - cost = item.quantity * product.price
        %td
          %input{class: 'edit-item-product-cost', id: product.id, "value": cost, disabled: true}
        %td#action
          = link_to "Show", product_url(product), {class: 'btn btn-primary'}
          %p.delete_item{ class:"btn btn-danger", id: item.id } delete
= paginate @items
%table.table.table-striped
  %tr
    - total_cost = @cart.items.map(&:cost).sum
    %td#total-cost-name Total Cost
    %td
    %td
    %td
    %td
    %td#total-cost= total_cost
    %td 
%p{class: "btn btn-default"}= link_to "Save", edit_user_cart_url(current_user, @cart) 
= link_to "Clear Cart", clear_user_cart_url(current_user,@cart), {class: "btn btn-danger",method: "post", data: {confirm: "Are You Sure?"}}
= link_to "Save to order", save_to_order_user_cart_url(current_user,@cart), {class: "btn btn-success save-to-order",method: "post", data: {confirm: "Are You Sure?"}}
