%h1
  Products List
= paginate @products
%table.table.table-striped
  %tr
    %th= "#"
    %th= "Product name"
    %th= "Product code"
    %th= "Price"
    %th= "Action"
  %product_list
    - @products.each_with_index do |product, index| 
      %tr{id: product.id}
        - if params[:page].to_i == 0
          %td#index= index+1
        - else
          %td#index= index+1 + 10*(params[:page].to_i-1)
        %td#name= product.product_name
        %td#code= product.product_code
        %td#price= product.price
        %td
          = link_to "Show", product_url(product), {class: 'btn btn-success'}

          - if can? :edit, :delete, product
            = link_to "Edit", edit_product_url(product), {class: 'btn btn-primary'}
            = link_to "Delete", product_url(product), {method: 'delete', data: { confirm: "You sure?" }, class: 'btn btn-danger' }
          - if current_user.nil?
            %p.un-logged-in{class: 'btn btn-warning'} Like
            %p.un-logged-in{class: 'btn btn-warning'} Add to cart
          - else
            / like/unlike button------------
            - if Favorite.where(user: current_user, product: product).first.nil?
              %p.favorite_product_unliked{class: "btn btn-warning #{product.id}", id: product.id} Like
              %p.favorite_product_liked{class: "btn btn-info #{product.id}", id: product.id, style:'display: none'} Liked
            -else
              %p.favorite_product_unliked{class: "btn btn-warning #{product.id}",id: product.id, style: 'display: none'} Like
              %p.favorite_product_liked{class: "btn btn-info #{product.id} ", id: product.id, "data-value": Favorite.where(user: current_user, product: product).first.id} Liked
            /add-to-cart button--------------
            / %p.add_to_cart{class: "btn btn-warning #{product.id}", id: product.id} Add to cart
            .add-to-cart-modal
              %p.add-to-cart{class: "btn btn-md btn-primary", id: product.id} Add to cart
              #add-to-cart-modal-box.modal.fade{id: product.id}
                .modal-dialog 
                  .modal-content
                    %table.table.table-striped
                      %tr
                        %th Product Name
                        %th Quantity
                        %th Price
                        %th Currency
                        %th Cost
                      %tr
                        %td#modal-product-name= product.product_name
                        %td
                          %input.modal-product-quantity{ type: "integer", "value": 1, id: product.id}
                        %td{class: "modal-product-price", id: product.id, "data-value": product.price}= product.price
                        %td#modal-product-currency VND
                        %td
                          %input{class: 'modal-product-cost', id: product.id, "value": product.price, disabled: true}
                    %p.add_to_cart{class: "btn btn-warning #{product.id}", id: product.id} Add to cart
                    %button{class: "btn btn-default", "data-dismiss" => "modal"} Close

%p#new= link_to "Create new", new_product_url , {class: 'btn btn-success'}
= paginate @products
