%h1
  Products List
= paginate @products
%table.table.table-striped
  %tr
    %th= "#"
    %th= "Product name"
    %th= "Product code"
    %th= "Price"
    %th= "Action"
  %product_list
    - @products.each_with_index do |product, index| 
      %tr{id: product.id}
        - if params[:page].to_i == 0
          %td#index= index+1
        - else
          %td#index= index+1 + 10*(params[:page].to_i-1)
        %td#name= product.product_name
        %td#code= product.product_code
        %td#price= product.price
        %td
          = link_to "Show", product_url(product), {class: 'btn btn-success'}

          - if can? :edit, :delete, product
            = link_to "Edit", edit_product_url(product), {class: 'btn btn-primary'}
            = link_to "Delete", product_url(product), {method: 'delete', data: { confirm: "You sure?" }, class: 'btn btn-danger' }
          - if current_user.nil?
            %p.like-un-logged-in{class: 'btn btn-warning'} Like
          - elsif Favorite.where(user: current_user, product: product).first.nil?
            %p.favorite_product_unliked{class: "btn btn-warning #{product.id}", id: product.id} Like
            %p.favorite_product_liked{class: "btn btn-info #{product.id}", id: product.id, style:'display: none'} Liked
          -else
            %p.favorite_product_unliked{class: "btn btn-warning #{product.id}",id: product.id, style: 'display: none'} Like
            %p.favorite_product_liked{class: "btn btn-info #{product.id} ", id: product.id, "data-value": Favorite.where(user: current_user, product: product).first.id} Liked

%p#new= link_to "Create new", new_product_url , {class: 'btn btn-success'}
= paginate @products
